.add_lot-btn {
  color: #313131;
  text-align: left;
  border: none;
  padding: 7px 8px 9px 8px;
  border-radius: 3px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  margin-top: 8px;
  /* font-weight: 600; */
  width: 105px;
  color: #fff;
  margin-top: 0;
  /* background-color: #fff; */
}
.add_lot-btn span {
  font-size: 20px;
  font-weight: 400;
}
.add_lot-btn:hover {
  /* background-color: rgba(255, 255, 255, 0.6); */
  /* color: #172b4d; */
}
.bg-popup {
  display: none;
}
.active.bg-popup {
  display: block;
}
.bg-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.bg-popup .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
  cursor: context-menu;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 7px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 6;
  color: #313131;
  /* padding: 20px; */
  min-width: 520px;
}
.clr-brd {
  width: calc(100%);
  height: 80px;
  background-color: #009688;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}
.clr-brd .close-btn-circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #00695c;
  color: #313131;
  text-align: center;
  font-size: 22px;
  line-height: 31px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.redBg .clr-brd {
  background-color: #ef7564;
}
.greenBg .clr-brd {
  background-color: #009688;
}
.blueBg .clr-brd {
  background-color: #5ba4cf;
}
.taches-container {
  padding: 25px 20px;
  position: relative;
}
.redBg .clr-brd .close-btn-circle {
  background-color: #ba5d51;
}
.redBg .clr-brd .close-btn-circle:hover {
  background-color: #a25248;
  color: #fff;
}
.greenBg .clr-brd .close-btn-circle {
  background-color: #02796d;
}
.greenBg .clr-brd .close-btn-circle:hover {
  background-color: #03645b;
  color: #fff;
}
.blueBg .clr-brd .close-btn-circle {
  background-color: #4c85a7;
}
.blueBg .clr-brd .close-btn-circle:hover {
  background-color: #406f8a;
  color: #fff;
}
.clr-brd {
  padding: 15px 15px;
}
.clr-brd h3 {
  margin-bottom: 0;
  width: fit-content;
  /* height: 16px; */
}
.clr-brd h3 input,
.clr-brd h3 select {
  /* margin-top: 10px; */
  font-size: 16px;
  background-color: rgba(240, 240, 240, 0.5);
  border: none;
  color: #313131;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: auto;
  padding: 4px 6px;
  border-radius: 3px;
  width: 100%;
}
.taches-container input {
  border: none;
  border-radius: 3px;
  background-color: #f0f0f0;
  display: block;
  width: calc(100% - 60px);
  text-align: left;
  color: #313131;
  /* text-transform: capitalize; */
  font-weight: 600;
  font-size: 20px;
  /* line-height: 22px; */
  padding-bottom: 4px;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.taches-container h3 {
  font-size: 18px;
  text-align: left;
  color: #313131;
  font-weight: 600;
  padding-left: 8px;
}
.taches-container textarea {
  width: 100%;
  height: auto;
  border: 0;
  background-color: #f0f0f0;
  padding-left: 8px;
  padding-right: 8px;
  max-height: 400px;
  min-height: 60px;
}
.taches-container .edit-btn {
  background-color: #f3e260;
  color: #313131;
  position: absolute;
  top: 27px;
  right: 20px;
  padding: 6px 6px 7px 6px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  font-weight: 600;
  z-index: 3;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.taches-container .save-btn {
  position: absolute;
  background-color: #5ba4cf;
  top: 66px;
  min-width: 55px;
  color: #ffffff;
}
.taches-container .edit-btn.edit {
  background-color: #f3e260;
}
.taches-container .edit-btn.anuler {
  background-color: #ee422b;
  color: #fff;
}
.taches-container input:disabled,
.taches-container textarea:disabled,
.clr-brd h3 input:disabled {
  /* border: 1px solid transparent; */
  background-color: transparent !important;
}
.clr-brd h3 select:disabled {
  /* border: 1px solid transparent; */
  background-color: transparent !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding-top: 6px;
  padding-left: 9px;
}
.clr-brd h3 select::-ms-expand {
  display: none !important;
}
.taches-container input:focus,
.taches-container textarea:focus,
.taches-container input:hover,
.taches-container textarea:hover {
  outline: 0;
  background-color: #e0e0e0;
}
.clr-brd h3 input:hover,
.clr-brd h3 input:focus,
.clr-brd h3 select:hover,
.clr-brd h3 select:focus {
  outline: 0;
  background-color: #ffffff;
}
.clr-brd h3 {
  color: #ffffff;
}
.taches-container h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.taches-container h3 input {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 6px;
  width: calc(100% - 110px);
}
.menu_btn_box {
  /* background-color: tomato; */
  width: 20px;
  height: 20px;
  margin: 2px 2px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.menu_btn_box div {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
}
.menu_btn_box:hover div {
  opacity: 1;
}
.menu_btn_box {
}
.menu_btn_box:active div {
  border: 1px solid #494848;
  opacity: 1;
}
.menu_btn_container {
  position: relative;
}
.hide-inp {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  right: 0;
}
/* input:checked ~ .menu_btn_box div {
  border: 1px solid #494848;
  opacity: 1;
} */
.menu_btn_box input:checked ~ .ok {
  border: 1px solid #494848;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
